@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;0,900;1,600&display=swap');

body {   
   margin: 0;
   padding: 0;
   background-color: #d4d4d4;
   color: #1c1c1c;
}
a{
   text-decoration: none;
   color: #1c1c1c;
   position: relative;   
   transition: color 0.2s 0.1s;
   letter-spacing: 0.5px;
   font-size:22px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 800;
}
a:hover{
   color: #5b85c7;
}
a:active{
   top: 2px;
}
ul{
   list-style:none;
   
}
/*
ul{
   margin-left: auto;
   padding-top: 25px;
   padding-bottom:    25px;
   margin-right: auto;
   text-align: center;
   background-color: #fff;
   width: 1000px;
   height: 125px;
   border-radius: 25px;
   box-shadow: 8px 10px 5px 2px rgba(74, 74, 74, 0.20);
   
}
*/
li{
   width: 90%;
   height: 25px;
   margin-bottom: 15px;
   border-bottom: 3px solid #5b85c7;
   border-radius: 2px;   
}


div{
   text-align: center;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 10px;
   background-color: #fff;
   border-radius: 25px;
   box-shadow: 8px 10px 5px 2px rgba(74, 74, 74, 0.20);
   padding: 10px;
   width: 1025px;
   
}
p{
   font-size:20px;
   text-align: left;
   font-family: 'Montserrat', sans-serif;



}
h1{
   font-weight: bolder;
   font-family: 'Montserrat', sans-serif;

   
}

#div_tab{
   background: none;
   border-radius: none;
   box-shadow: none;
   padding: none;
   width: none;
}
button{
   height: 33px;
   width: 330px;
   padding-bottom: 3px;
   border-radius: 10px;
   font-size: 19px;
/*   font-family: 'Archivo', sans-serif;*/
   font-weight: 900;
/*   background-color: #5b85c7;*/
   color: black;
   background-color: #fff;
   border: none;
   position: relative;
   transition: 
      background-color 0.2s 0.1s,
      box-shadow 0.2s;

}

button:active{
   background-color: #1c1c1c;
   top: 2px;
   border: none;
   color: #fff;
}
button:hover{
   background-color: #5b85c7;
   border: none;
   -webkit-box-shadow: 0px 0px 50px -5px rgba(9, 129, 221, 0.4);
-moz-box-shadow: 0px 0px 50px -5px rgba(9, 129, 221, 0.4);
box-shadow: 0px 0px 50px -5px rgba(9, 129, 221, 0.4);

}
#main_1{
   display: block;
   
}
#instr{
   display: none;
}
#spr{
   display: none;
}
b{
   font-weight: 900;
}
#btn_1{
   background-color: #5b85c7;
   color: #fff;
}

               /*Мэдиа запросы*/
 
@media (max-width: 992px) and (min-width:768px) {
   div{
      width: 90%;

   }
   a {
      font-size:24px;
   }
   button{
      width: 30%;
   }
   p{
      font-size:15px;
   }
}

@media (max-width: 768px){
   
   div{
      width: 90%;
   }
   a {
      font-size:25px;
   }
   button{
      width: 100%;
      margin-bottom:10px;
      font-size:20px;
   
   }
   p{
      font-size:20px;
   }
   li{
      width: 90%;
      height: 30px;
      border-bottom: 5px solid #5b85c7;
      border-radius: 4px;
      margin-bottom:25px;
      text-align:left;
   }

}

@media (max-width: 628px){
   body{
      padding:0;
      margin: 0;
   }
   div{
      width: 99%;
   }
   a {
      font-size:30px;
   }
   button{
      width: 100%;
      margin-bottom:12px;
      font-size:23px;
   
   }
   p{
      font-size:20px;
   }
   ul{
      list-style: inside;
      list-style-position: outside;
   }
   li{
      width: 95%;
      height: 30px;
      margin-bottom:45px;
      border:none;
      text-decoration: solid underline #5b85c7 4px;   }
   #main_1{
      height: 400px;
   }
}


